{
    "presets": [
        "preact-cli/babel"
    ],
    "plugins": [
        "babel-plugin-macros",
        [
            "@babel/transform-react-jsx",
            {
                "pragma": "h"
            }
        ]
    ]
}